.u-section-0 .u-text-1 {
  margin: 40px 0 0;
}

.u-section-0 .u-text-2 {
  margin: 8px 20px 0;
}

.u-section-0 .u-text-3 {
  margin: 8px 20px 0;
}

.u-section-0 .u-text-4 {
  margin: 8px 20px 0;
}

.u-section-0 .u-text-5 {
  margin: 8px 20px 0;
}

.u-section-0 .u-text-6 {
  margin: 8px 20px 0;
}

.u-section-0 .u-text-7 {
  margin: 8px 20px 0;
}

.u-section-1 {
  background-color: #141414;
}

.u-section-1 .u-sheet-1 {
  min-height: 750px;
}

.u-section-1 .u-image-1 {
  width: 1300px;
  height: 650px;
  margin: 25px auto 0 auto;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 20px auto 4px 0;
}

.u-section-1 .u-text-1 {
  margin: 20px auto 0;
}
